.persons {
  margin-right: 68px;
}
.about-us-left-side {
  /* background: #efefef; */
  /* padding: 30px; */
  /* margin-top: 30px; */
}
.about-us-left-side h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d2cdcd;
}
.about-us-left-side p {
  padding-top: 5px;
  font-weight: 100;
  margin-bottom: 10px;
  color: #9a9a9a;
}
.about-us-right-side {
  margin: 10px;
  border: 3px groove orange;
  padding: 3px;
  border-radius: 32px;
}

.about-us-right-side p {
  right: 13%;
  top: 23px;
  color: #efefef;
}
@media only screen and (max-width: 1199px) {
  .about-us-right-side p {
    display: none;
  }
}
